/* variable */
:root{
    /* Font family */
  --mf-font-heading: 'SF Pro Display', sans-serif; 
  --mf-font-body: 'SF Pro Display', sans-serif;    
  /* Font family */

    /* colors */
    --mf-fade-white: #F1F1F1;
    --mf-main-green-default: #1c7d9b;
    --mf-paragraph-1: #ACABC3;
    --mf-paragraph-2: #B7BACB;
    --mf-paragraph-3: #B8B8DC;
    --mf-sub-heading-blue: #0fbbf0;
    --mf-heading-deep-blue: #1A0B5B;
    --mf-black: #000;
    --mf-white: #ffffff;
    --mf-violet: #7E33E0;
    --mf-blue: #0d6efd;
    --mf-purple: #6f42c1;
    --mf-red: #f83600;
    --mf-orange: #df6812;
    --mf-yellow: #ffc107;
    --mf-green: #198754;
    /* colors */

    /* font weight */
    --m-f-weight-regular: 400;
    --m-f-weight-sem-bold: 600;
    --m-f-weight-bold: 700;
    --m-f-weight-ex-bold: 800;
    /* font weight */
}
/* variable */

/* button design */
.button{
    padding: 0;
}
.button{
 background: var(--mf-main-green-default);
 padding: 10px 12px;
 border-radius: 50px;
 color: var(--mf-white);
 font-family: var(--mf-font-body);
 font-size: 14px;
 font-style: normal;
 font-weight: var(--m-f-weight-sem-bold);
 line-height: normal;
 letter-spacing: 0.34px;
 transition: .4s;
 -webkit-transition: .4s;
 -moz-transition: .4s;
  -ms-transition: .4s; 
 -o-transition: .4s;
}
.button:hover{
 background: #000;
 color: #FFF;
}
.button_div {
    display: flex;
}
.butto_arrow {
    transform: rotate(-45deg);
}
.butto_arrow:hover {
    transform: rotate(0deg);
}


/* Dropdown hover effect */
.nav-item.dropdown:hover .dropdown-menu {
    display: flex;
    opacity: 1;
    visibility: visible;
    padding: 15px 20px;
}

/* Initially hide the dropdown menu */
.dropdown-menu {
    display: flex;     
    /* opacity: 0; */
    /* visibility: hidden; */
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: white;
    z-index: 1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, visibility 0.3s ease; 
    transform: translateX(50%);
    padding: 15px 20px;
}
.second{
    transform: translateX(-50%);
}
.nav-item.dropdown {
    position: relative; 
}

.dropdown-menu li a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.service-group li a:hover {
    background-color: #f1f1f1;
}

li.text_box {
    width: 250px;
}
li.text_box p {
    margin-bottom: 15px;
}

.service{
    border-right: 1px solid #00000042;
    border-left: 1px solid #00000042;
}


.dropdown-item{
    display: flex !important;
    align-items: flex-start !important;
    justify-content: start !important;
    column-gap: 10px;
}


li.etra_service {
    width: 220px;
    padding: 0 0 0 20px;
}

