
/* variable */
:root{
    /* Font family */
  --mf-font-heading: 'SF Pro Display', sans-serif; 
  --mf-font-body: 'SF Pro Display', sans-serif;    
  /* Font family */

    /* colors */
    --mf-fade-white: #F1F1F1;
    --mf-main-green-default: #1c7d9b;
    --mf-paragraph-1: #ACABC3;
    --mf-paragraph-2: #B7BACB;
    --mf-paragraph-3: #B8B8DC;
    --mf-sub-heading-blue: #0fbbf0;
    --mf-heading-deep-blue: #1A0B5B;
    --mf-black: #000;
    --mf-white: #ffffff;
    --mf-violet: #7E33E0;
    --mf-blue: #0d6efd;
    --mf-purple: #6f42c1;
    --mf-red: #f83600;
    --mf-orange: #df6812;
    --mf-yellow: #ffc107;
    --mf-green: #198754;
    /* colors */

    /* font weight */
    --m-f-weight-regular: 400;
    --m-f-weight-sem-bold: 600;
    --m-f-weight-bold: 700;
    --m-f-weight-ex-bold: 800;
    /* font weight */
}
/* variable */

/* button design */
.button{
    padding: 0;
}
.button{
 background: var(--mf-main-green-default);
 padding: 10px 12px;
 border-radius: 50px;
 color: var(--mf-white);
 font-family: var(--mf-font-body);
 font-size: 14px;
 font-style: normal;
 font-weight: var(--m-f-weight-sem-bold);
 line-height: normal;
 letter-spacing: 0.34px;
 transition: .4s;
 -webkit-transition: .4s;
 -moz-transition: .4s;
  -ms-transition: .4s; 
 -o-transition: .4s;
}
.button:hover{
 background: #000;
 color: #FFF;
}
.button_div {
    display: flex;
}
.butto_arrow {
    transform: rotate(-45deg);
}
.butto_arrow:hover {
    transform: rotate(0deg);
}


/* banner */
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    margin-top: 32px;
    padding: 15px;
}


/* project section */
#project_section .container{
    padding: 70px 0;
}

#project_section .subtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#project_section .subtitle .text_div p{
    width: 515px;
}

#project_section h3{
    font-size: 30px;
}

#project_section .project_group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
}
#project_section .project_group P{
    font-size: 13PX;
}

#project_section .project_group .project_one,
    #project_section .project_group .project_two,
        #project_section .project_group .project_three{
    height: 424px;
    width: 424px;
    margin-top: 32px;
}





#project_section .project_group .project_content {
    width: 410px;
    height: auto;
    margin: 0 auto;
    background: #ffffffc0;
    padding: 10px;
    border-radius: 10px;
}
#project_section .project_group .project_content svg{
    height: 15PX;
    width: auto;
}


#project_section .project_group .project_one,
    #project_section .project_group .project_two,
        #project_section .project_group .project_three{
            position: relative;
}

#project_section .project_group .project_one .project_content,
    #project_section .project_group .project_two .project_content,
        #project_section .project_group .project_three .project_content{
    position: absolute;
    bottom: 7px;
    left: 7px;
}


#project_section .project_group .button_div {
    margin-top: 12px !important;
}

#project_section .project_group .learn_btn{
    width: 100%;
    text-align: center;
}
/* project section */