
/* variable */
:root{
    /* Font family */
  --mf-font-heading: 'SF Pro Display', sans-serif; 
  --mf-font-body: 'SF Pro Display', sans-serif;    
  /* Font family */

    /* colors */
    --mf-fade-white: #F1F1F1;
    --mf-main-green-default: #1c7d9b;
    --mf-paragraph-1: #ACABC3;
    --mf-paragraph-2: #B7BACB;
    --mf-paragraph-3: #B8B8DC;
    --mf-sub-heading-blue: #0fbbf0;
    --mf-heading-deep-blue: #1A0B5B;
    --mf-black: #000;
    --mf-white: #ffffff;
    --mf-violet: #7E33E0;
    --mf-blue: #0d6efd;
    --mf-purple: #6f42c1;
    --mf-red: #f83600;
    --mf-orange: #df6812;
    --mf-yellow: #ffc107;
    --mf-green: #198754;
    /* colors */

    /* font weight */
    --m-f-weight-regular: 400;
    --m-f-weight-sem-bold: 600;
    --m-f-weight-bold: 700;
    --m-f-weight-ex-bold: 800;
    /* font weight */
}
/* variable */

/* button design */
.button{
    padding: 0;
}
.button{
 background: var(--mf-main-green-default);
 padding: 10px 12px;
 border-radius: 50px;
 color: var(--mf-white);
 font-family: var(--mf-font-body);
 font-size: 14px;
 font-style: normal;
 font-weight: var(--m-f-weight-sem-bold);
 line-height: normal;
 letter-spacing: 0.34px;
 transition: .4s;
 -webkit-transition: .4s;
 -moz-transition: .4s;
  -ms-transition: .4s; 
 -o-transition: .4s;
}
.button:hover{
 background: #000;
 color: #FFF;
}
.button_div {
    display: flex;
}
.butto_arrow {
    transform: rotate(-45deg);
}
.butto_arrow:hover {
    transform: rotate(0deg);
}


/* banner */
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    margin-top: 32px;
    padding: 15px;
}


/* footer */
#footer{
    background: #1c404b;
}
#footer .container {
    padding: 70px;
    display: grid;
    grid-template-columns: 2fr 1fr .8fr 1.5fr .5fr;
    column-gap: 14px;
}

#footer .logo img {
    width: auto;
    height: auto;
    margin-bottom: 10px;
}
#footer .logo p{
    color: var(--mf-white);
}
#footer .text {
    font-size: 14px;
    line-height: 1.5;
    color: var(--mf-white);
}
#footer .services, .quick-link, .contact-details, .follow-us {
    text-align: left;
}
#footer span {
    margin-bottom: 10px;
    font-size: 14px;
    color: #f8f8f8;
    
}
#footer .services ul, .quick-link ul, .contact-details ul, .follow-us ul {
    list-style: none;
    padding: 0;
}
.services li, .quick-link li, .contact-details li, .follow-us li {
    margin-bottom: 5px;
    color: var(--mf-white);
}
#footer .follow-us ul {
    display: flex;
    align-items: center;
}
#footer .follow-us ul li {
    margin-right: 10px;
}
#footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
#footer .follow-us ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
#footer footer {
    background-color: #1c404b;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
#footer footer p{
    color: #FFF;
}

/* footer */